<p> Welcome, <%= current_user.username %>
<h2> Reviews </h2>

<% @reviews.each do |reviews| %>
    <div>
    <%= reviews.name %>
    <%= reviews.tea_type %>
    <%= reviews.supplier %>
    <%= reviews.country %>
    <%= reviews.flavor %>
    <%= reviews.color %>
    <%= reviews.notes %>
  </div>
  
<% end %>