<div class="container">

<h2><%= @review.user.username %>'s Review of </h2>
<h2 style="color:#5de264"><%= @review.name %> </h2>
<br>
<p style="text-align:left">Type: <%=@review.tea_type%></p>
<br>
<p style="text-align:left">Supplier: <%=@review.supplier%></p> 
<br>
<p style="text-align:left">Country: <%=@review.country%></p>
<br>
<p style="text-align:left">Flavor(s): <%=@review.flavor%></p>
<br>
<p style="text-align:left">Color(s): <%=@review.color%></p>
<br>
<p style="text-align:left">Notes: <%=@review.notes%></p>
<br>
<a href="/reviews/<%=@review.id%>/delete"
        type="submit" class="button">Delete Review
      </a>
<br><br>
<a href="/reviews/<%=@review.id%>/edit"
type="submit" class="button">Edit Review
      </a>
<br><br>
<a href="/reviews"
        type="submit" class="button">All Reviews
      </a>
</div>
