<p>Name: <%= @review.name %> - Type: <%=@review.tea_type%> - Supplier: <%=@review.supplier%> - Country: <%=@review.country%></p>
<p>Flavor: <%=@review.flavor%> - Color: <%=@review.color%></p>
<p>Notes:  <%=@review.notes%>

<form method="post" action="/reviews/<%=@review.id%>/delete">
<button type="submit" class="button">Delete Review</button>
</form>

<form method="get" action="/reviews/<%=@review.id%>/edit">
<button type="submit" class="button">Edit Review</button>
</form>

<form method="get" action="/reviews">
<button type="submit" class="button">All Reviews</button>
</form>

