<p><%= @review.name %> - <%=@review.tea_type%> - <%=@review.supplier%> - <%=@review.country%></p>
<p>Flavor: <%=@review.flavor%> - Color: <%=@review.color%></p>
<p>Notes:  <%=@review.notes%>

<form method="post" action="/reviews/<%=@review.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Review">
</form>

<a href="/reviews/<%=@review.id%>/edit">Edit Review </a>