<h2>Name: <%= current_user.username %>'s <%= @review.name %> Review</h2>
<p>Type: <%=@review.tea_type%> - Supplier: <%=@review.supplier%> - Country: <%=@review.country%></p>
<p>Flavor(s): <%=@review.flavor%> - Color(s): <%=@review.color%></p>
<p>Notes:  <%=@review.notes%>

<form method="post" action="/reviews/<%=@review.id%>/delete">
<button type="submit" name="_method" class="button" value="delete">Delete Review</button>
</form>

<form method="get" action="/reviews/<%=@review.id%>/edit">
<button type="submit" class="button">Edit Review</button>
</form>

<form method="get" action="/reviews">
<button type="submit" class="button">All Reviews</button>
</form>

