<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/css/application.css">
</head>
<body>

    <% if logged_in?%>
  <div class="topnav">
  <div class="left">
      <form  method="get" action="/">
        <button type="submit" class="button1">Home</button>
      </form>
      <div class="divider">
      </div>
      <form  method="get" action="/users/<%=current_user.id%>/edit">
        <button type="submit" class="button1">Profile</button>
      </form>
     <div class="divider">
      </div>
      <form  action="/logout" method="get">
        <button class="button1" name="logout">Logout</button>
      </form>
      </div>
      <div class="user"><p>User:<%=current_user.username%></p><p>Email: <%=current_user.email%></p>
    </div><div class="mid">
      <div class="title">Planet Tea 
      </div></div>
  </div>
  <%else%> 
<div class="topnav">
<div class="title" >Planet Tea</div>
 </div></div>
  <%end%>

<br>
<br>
<% flash.keys.each do |type| %>
  <div data-alert class="flash <%= type %> alert-box radius">
    <%= flash[type] %>
  </div>
<% end %>
<br>
<%= yield %>
<br>
<div class="footer">
<img src="\images\tea.jpg"><div>
</body>
</html>